* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* overflow: hidden; */
}

.nav {
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
}

.logo {
    height: 100px;
    width: 60%;
    display: flex;
}

/* --------------------------------------- */
.fa-bars
{
    color: #fff;
    font-size: 30px;
    display: none;
}
.offcanvas-body ul {
    display: none;
    line-height: 50px;
}
.offcanvas-body ul a
{
    display: none;
    text-decoration: none;
    color: black;
}
.btn
{
    display: none;
}
/* --------------------------------------- */
.logo-img {
    margin-top: 15px;
    margin-left: 50px;
}

.menu {
    height: 100px;
    width: 40%;
    display: block;
    position: absolute;
    right: 0;

}

.menu ul {
    display: flex;
    line-height: 100px;
}
.offcanvas-body
{
    text-decoration: none;
    list-style: none;
}


.menu ul li {
    /* width: 25%; */
    padding-right: 50px;
    font-size: larger;
}
.menu ul li a
{
     text-decoration: none;
     color: white;
}
.menu ul li a:hover
{
    color: grey;
}


.main-slider
{
    position: relative;
}
.right-menu
{
    /* background-color: red; */
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    z-index: 1;
    height: 650px;
    width: 20%;
}
.right-menu ul
{
 line-height: 50px;
 padding-top: 150px;
 padding-left: 90px;
}
.right-menu ul li a
{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.right-menu ul li a:hover
{
    color: grey;
}

/* ---------------- Footer ---------------- */
.footer {
    /* position: sticky; */
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
}

.copyright {
    height: 30px;
    width: 70%;
    color: white;
    margin-top: 40px;
    margin-left: 150px;
    /* background-color: blue; */
}

.contact {
    height: 30px;
    width: 30%;
    color: white;
    margin-top: 40px;
    margin-right: 50px;
    /* background-color: aqua;  */
}

/* ------------------ About-work -------------------- */

.About-work {
    height: 580px;
    width: 100%;
    align-items: center;
    float: left;
    text-align: center;
    line-height: 50px;
    
}

.who-are {
    height: 170px;
    width: 100%;
    color: black;
    /* background-color: red; */
}

.what-we {
    height: 240px;
    width: 100%;
    color: black;
    /* background-color: blue; */
}
.who-are h1
{
   font-size: 80px;
}
.what-we h1
{
    font-size: 80px;
    
}
.who-are p
{
    color: silver;
    font-size: larger;
}
.what-we p
{
    color: silver;
    font-size: larger;
}
.who-are a
{
    text-decoration: none;
    color: black;
}
.what-we a
{
    text-decoration: none;
    color: black;
}
.who-are a:hover
{
    color: grey;
}
.what-we a:hover
{
    color: grey;
}

/* ------------ MEDIA QUERY ----------- */

@media screen and (max-width: 768px) 
{

    .nav {
        background-color: black;
        height: 60px;
        width: 100%;
        display: flex;
    }
    .logo {
        height: 70px;
        width: 40%;
        margin: 0 0 0 20%;
        display: flex;
    }
    .logo-img {
        margin-top: 15px;
        margin-left: 40%;
    }
    .logo-img img
    {
        width: 50%;
    }
.btn
{
    display: block;
}
.menu {
    height: 100px;
    width: auto;
    background-color: lightblue;
    display: none;
}
.fa-bars
{
    color: #fff;
    font-size: 30px;
    display: block;
}
.offcanvas-body ul {
    display: block;
    line-height: 50px;
}
.offcanvas-body ul a
{
    display: block;
    text-decoration: none;
    color: black;
}


.menu ul li {
    /* width: 25%; */
    margin-right: 50px;
    font-size: larger;
}
.menu ul li a
{
     text-decoration: none;
     color: white;
}
.menu ul li a:hover
{
    color: grey;
}

.slide
{
    width: 100%;
    height: 700px;
    background-color: lightblue;
}
.carousel-item img
{
    width: 100%;
    height: 100vh;
}



}
